<%- include('../includes/header'); %>
<%- include('../includes/profile'); %>

<div class="topnav" id="myTopnav">
    <a href="/login" class="active">Login</a>
    <a href="/users">Users</a>
    <a href="/location">Locations</a>
    <a href="#contact">Employees</a>
    <div class="dropdown">
      <button class="dropbtn">Attendance
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Record Attendance</a>
        <a href="#">Report on Attendance</a>
        </div>
    </div>
</div>
