<div class="top-line">
    <div class="left-box">
        <div class="company-name">
            SSTIS Technologies Private Limited
            <div class="company-profile">
                Prantika Appts, Flat-3B & GCA, 22 Naraytala Road West, Baguiati, Kolkata-700059
            </div>  
        </div>
    </div>
    <div class="right-box etched-text">
      Attendance Recording System
    </div>
</div>

