node_modules
npm-debug.log
.git
.gitignore
.DS_Store
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg