<head>
    <style>


    </style>
    <body>
        <div class="attendance-submit-form-container">
            <h2> Attendance Entry </h3>
            <h4> Location :  <%= glbLocaName %> </h4>
                     
            <form class = "attendance-submit-form">

            </form>
        </div>
    </body>
</head>