<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .top {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
        .left {
            border: 1px solid;
            width: 100%;
        }
        .right {
            border: 1px solid;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="top">
        <div class="left">
            left side
        </div>
        <div class="right">
            right side
        </div>
    </div>
    <div class="mid">

    </div>
    <div class="bot">

    </div>
</body>
</html>