<%- include('menu'); %>
<body class="users-add-body">
    <script>
        function saveUser () {
            // event.preventDefault();
            // console.log("here")
            // window.location.href="/location/new";
            // document.getElementsByClassName("form-location-add").reset
        }
    </script>

    <div class="users-add-form-container">
        <h3>Add New User</h3>
        <form class="users-add" method="post">
            <table class="form-users-add-table">
                <tr>
                    <td><lable for ="location">Location</lable></td>
                    <td>
                        <select class="locationselect" id="location_name" name="location_name" required>
                            <% locations.forEach(function(location) { %>
                              <option value="<%= location.location_name %>"><%= location.location_name %></option>
                            <% }); %>
                        </select>                      
                    </td>
                </tr>
                <tr>
                    <td><label for="username">User Name</label></td>
                    <td><input type="text" id="username" name="username" required></td>
                </tr>
                <tr>
                    <td><label for="usertype">User Type</label></td>
                    <td>
                        <select class="usertype" name="usertype" id="usertype">
                            <option value="admin">Admin</option>
                            <option value="supervisor">Supervisor</option>
                            <option value="normal">Normal</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name="password" required></td>
                </tr>
                <tr>
                    <td><label for="password1">Confirm Password</label></td>
                    <td><input type="password" id="password1" name="password1" required></td>
                </tr>
            </table>
           
            <div class="btnGroup">
              <button class="btnSubmit" onClick="saveUser()">Submit</button></a>
              <button class="btnReset" type="reset">Reset Data</button>
              <a href="/users"><button class="btnReturn" type="button">Return</button></a>
            </div>
        </form>
    </div>
</body>

</html>