.users_body {
    background-color: #918f8f;
}

.users_form_container{
    height: 550px;
    width: 1100px;
    background-color: rgb(74, 74, 74);  /*rgba(255,255,255,0.13);*/
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px 20px;
}

.users_form_container .users-icon-container {
    color: red;
    background: transparent;
}

.users_form_container  > h3 {
    background-color: rgb(74, 74, 74);
    text-align: center;
    text-shadow: 0 3px rgb(17, 1, 1);
    font-size: 2.0 rem;
    font-weight: bold;
    color: #dbf476;
}

/*.etched-text {
    text-shadow: 0 2px white;
    font-size: 2.0 rem;
    font-weight: bold;
    color: #042c5a;
  }
*/

.users-form-top {
    display:flex;
    flex-direction: row;
    background-color: rgb(74,74,74);
}

.users-form-top-left {
    display: flex;
    background-color: rgb(74,74,74);
    width: 80%;
    gap: 5px;
 
}
.users-form-top-right {
    display: flex;
    width: 20%;
    background-color: rgb(74, 74, 74);
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}

.users_form_container .btnAdd {
    background-color: rgb(94, 239, 94);
    width: 100px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
}

.btnHome > img {
    height: 25px;
    background: transparent;
}
.users_form_container .btnHome {
    background-color: rgb(218, 34, 68);
    width: 100px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
    align-items: center;
}

.users_form_container .btnClose .fa-solid .fa-circle-xmark {
    background-color: red;
    color: red;
}

.users_form_container .btnSearch {
    background-color: rgb(94, 203, 239);
    width: 100px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
}

.users_form_container #searchFld {
    background-color: beige;
    width: 400px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;   
}

.users_table_wrapper {
    height: 430px;
    overflow-y: auto;
    margin-top: 8px;
}
.users_table thead th {
    position: sticky;
    top: 0px;
}

.users_table {
    width: 100%;
    background-color: gray;
}

.users_table th {
    background-color: burlywood;
}

.users_table tr {
    border-bottom: 1px solid #ddd;
  }

.users_table tr:hover td {
    background-color: #bef7f7;
    .btnEdit {
        background-color: #bef7f7;
        color: black;
    }
    .btnDelete {
        background-color: #bef7f7;
        color: black;
    }
}

.users_table td tr {
    padding-left: 3px;
    padding-right: 3px;
}

.btnEdit {
    background-color: chocolate;
    color: white;
    width: 70px;
    border: none;
    border-radius: 4px;
}
.btnDelete {
    background-color: red;
    color: white;
    width: 70px;
    border: none;
    border-radius: 4px;
}

/* Users Adding */

.users-add-body {
    background-color: #918f8f;
}

.users-add-form-container{
    height: 330px;
    width: 600px;
    background-color: rgb(201, 236, 78);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
}

.users-add-form-container  > h3 {
    background-color: rgb(74, 74, 74);
    text-align: center;
    text-shadow: 0 3px rgb(17, 1, 1);
    font-size: 2.0 rem;
    font-weight: bold;
    color: #dbf476;
    padding-bottom: 4px;
}

.form-users-add-table {
    border-collapse: collapse;
    background-color: rgb(201, 236, 78);
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 20px;
    width: 100%;
}

.form-users-add-table td {
    padding: 2px;
}

.users-add-form-container input {
    width: 23rem;   /*400px;*/
}

.users-add-form-container .btnSubmit {
    background-color: rgb(53, 238, 53);
    width: 150px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
}

.users-add-form-container .btnSubmit:hover {
    background-color: rgb(93, 241, 93);
}

.users-add-form-container.btnSubmit:hover {
    background-color: rgb(93, 241, 93);
}

.users-add-form-container .btnReset {
    background-color: rgb(160, 131, 1);
    width: 150px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
}

.users-add-form-container .btnReset:hover {
    background-color: rgb(159, 139, 50);
}

.users-add-form-container .btnReturn {
    background-color: rgb(23, 182, 235);
    width: 150px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
}

.users-add-form-container .btnReturn:hover {
    background-color: rgb(110, 203, 234);
}

.btnGroup {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.locationselect {
    width: 23rem; 
    height: 35px;
    border: none;
    border-radius: 5px;
}

.usertype {
    width: 23rem;
    height: 35px;
    border: none;
    border-radius: 5px;
}