*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
/* =============================== */    
.employee_body {
    background-color: #918f8f;
}

.employee_form_container{
        height: 100%vh;  /*550px;*/
        width: 1100px;
        background-color: rgb(74, 74, 74);  /*rgba(255,255,255,0.13);*/
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 10px 20px;
    }
    
    .employee_form_container .employee-icon-container {
        color: red;
        background: transparent;
    }
    
    .employee_form_container  > h3 {
        background-color: rgb(74, 74, 74);
        text-align: center;
        text-shadow: 0 3px rgb(17, 1, 1);
        font-size: 2.0 rem;
        font-weight: bold;
        color: #dbf476;
    }
    
    .employee-form-top {
        display:flex;
        flex-direction: row;
        background-color: rgb(74,74,74);
    }
    
    .employee-form-top-left {
        display: flex;
        background-color: rgb(74,74,74);
        width: 50%;
        gap: 5px;
     
    }
    .employee-form-top-right {
        display: flex;
        width: 50%;
        background-color: rgb(74, 74, 74);
        justify-content: flex-end;
        align-items: flex-end;
        gap: 5px;
    }
    
    .employee_form_container .btnAdd {
        background-color: rgb(94, 239, 94);
        width: 150px;
        border: none;
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;   
    }
    
    .btnHome > img {
        height: 25px;
        background: transparent;
    }
    .employee_form_container .btnHome {
        background-color: rgb(218, 34, 68);
        width: 150px;
        border: none;
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;   
        color: black;
        align-items: center;
    }
    
    .employee_form_container .btnClose .fa-solid .fa-circle-xmark {
        background-color: red;
        color: red;
    }
    
    .employee_form_container .btnSearch {
        background-color: rgb(94, 203, 239);
        width: 150px;
        border: none;
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;   
    }
    
    .employee_form_container #searchFld {
        background-color: beige;
        width: 400px;
        border: none;
        border-radius: 4px;;
        padding-top: 3px;
        padding-bottom: 3px;   
    }
    
    .employee_table_wrapper {
        height: 430px;
        overflow-y: auto;
        margin-top: 8px;
    }
    .employee_table thead th {
        position: sticky;
        top: 0px;
    }
    
    .employee_table {
        width: 100%;
        background-color: gray;
    }
    
    .employee_table th {
        background-color: burlywood;
    }
    
    .employee_table tr {
        border-bottom: 1px solid #ddd;
      }
    
    .employee_table tr:hover td {
        background-color: #bef7f7;
        .btnEdit {
            background-color: #bef7f7;
            color: black;
        }
        .btnDelete {
            background-color: #bef7f7;
            color: black;
        }
    }
    
    .employee_table td tr {
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .btnEdit {
        background-color: chocolate;
        color: white;
        width: 70px;
        border: none;
        border-radius: 4px;
    }
    .btnDelete {
        background-color: red;
        color: white;
        width: 70px;
        border: none;
        border-radius: 4px;
    }
    
    /* Employee Adding */
/* =============================== */

body{
    min-height: 100vh;
    background: #4070f4;
}
.emp-add-container{
    max-width: 750px;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 6px;
    padding: 20px;
    margin: 0 15px;
    background-color: rgb(201, 236, 78);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.emp-add-container header {
    background-color: rgb(74, 74, 74);
    text-align: center;
    text-shadow: 0 3px rgb(17, 1, 1);
    font-size: 20px;
    font-weight: bold;
    color: #dbf476;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

.emp-add-input {
    display: flex;
    gap: 30px;
}

.image-box {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}

.emp-add-table tr {
    height: 25px;
}

.emp-add-table td:first-child {
    width: 200px; /* Set the width of the first column */
    white-space: nowrap; /* Prevent word wrapping */
}

.emp-add-table td:nth-child(2) {
    width: auto; /* The second column will take up the remaining space */
}

/* For demonstration purposes, add border */
/*
.emp-add-table, td {
    border: 2px solid black;
    
}
*/

.userselect {
    height: 30px;
    width: 360px;
}

input[type=text] {
    width: 360px;
}

/*
.emp-add-table td {
    padding: 8px; 
    border: 1px solid #ddd; 
}
*/
input {
    padding: 4px;
    width: 300px;
}

.emp-add-form .btnSubmit {
    background-color: rgb(53, 238, 53);
    width: 150px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
}

.emp-add-form .btnSubmit:hover {
    background-color: rgb(93, 241, 93);
}

.emp-add-form .btnReset {
    background-color: rgb(160, 131, 1);
    width: 150px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
}

.emp-add-form .btnReset:hover {
    background-color: rgb(159, 139, 50);
}

.emp-add-form .btnReturn {
    background-color: rgb(23, 182, 235);
    width: 150px;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
    color: black;
}

.emp-add-form .btnReturn:hover {
    background-color: rgb(110, 203, 234);
}

.emp-add-form .btnGroup {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.camera-container {
    position: relative;
    /* width: 100%;
    max-width: 400px; */
    width: 200px;
    height: 200px;
}

video {
    width: 100%;
    border: 2px solid #000;
}

#video {
    width: 200px; /* Desired width */
    height: 150px; /* Desired height */
    border: 2px solid #ccc; /* Optional: Add a border for clarity */
    object-fit: cover; /* Adjust how the video fits within the specified dimensions */
    border: 1px solid black;
}

canvas {
    display: none;
}

.camera-btn-grp {
    display: flex;
    gap: 5px;
}

#start-btn {
    background-color: springgreen;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    padding-top: 3px;
    padding-bottom: 3px;   
}
#capture-btn {
    background-color: #4070f4;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;    
    padding-top: 3px;
    padding-bottom: 3px;   

}